{% extends 'Auto_base.html' %}
{% load static %}

{% block content %}


            <div class="row align-items-center justify-content-between">
                <div class="col-md-8 col-lg-11 " id="div_form">

                    <form class="contact-form" action="{% url 'one_bulk' %}" method="post">
                        {% csrf_token %}

                        <div class="form-row" id="variabe_row">

                        </div>
                        <div class="form-row">
                            <div class="col form-group">
                                <input form="excel_form" type="text" class="form-control" placeholder="Email" name="email" value={{entered_email}}>
                            </div>
                            <div class="col form-group">
                                <input form="excel_form" type="password" class="form-control" placeholder="Encrypted Password" name="password_entered" value={{entered_password}}>
                            </div>
                        </div>

                        <div class="form-group">
                            <input form="excel_form" type="text" class="form-control" placeholder="Name" name="Entered_Name" id="Name" value={{entered_name}}>
                        </div>
                         <script type="text/javascript">


                        </script>

                        <div class="form-group">
                            <input form="excel_form" name="subject_msg" id="x1" rows="1" class="form-control" placeholder="Subject" value={{entered_subject}}>
                        </div>
                        <div class="form-group">
                            <input form="excel_form" name="dear_msg" id="x2" rows="1" class="form-control" placeholder="Dear example" value={{entered_dear}}>
                        </div>
                        <div class="form-group">
                            <textarea form="excel_form" name="message" id="x3" cols="30" rows="5" class="form-control" placeholder="Your Message ( write $variable_1 to replace column 2 value )" >{{entered_message}}</textarea>
                        </div>
                        <div class="form-group">
                            <textarea form="excel_form" name="ending" id="x4" cols="30" rows="2" class="form-control" placeholder="Sincerely..." >{{entered_ending}}</textarea>
                        </div>


                        <div class="row col-md-100   col form-group " style="justify-content:space-between">

<!--                                      <div class="row " style="justify-content:space-between;border-style:dotted;width:500">-->


                                            <div>
<!--                                          <input type="file" name="myfile" class="form-control" >-->
                                                 <input form="excel_form" type="file" name="Myfile"> <br>
<!--                                                <input form="excel_form" type="submit" value="Save Data">-->

<!--                                                <input type="file" name="Myfile" ><br>-->
                                            </div>
                            {% if file_name %}
                                    <div>
                                          <button form="excel_form" type="submit" class="btn btn-danger" >Reprocess {{file_name}}</button>
                                        </div>

                             {% else %}


                                        <div>
                                          <button form="excel_form" type="submit" class="btn btn-danger">Process</button>
                                        </div>
                              {% endif %}

                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary btn-block" value="Send Message" >
                        </div>

                    </form>


                    <form id="excel_form" method="post" action="/excel_process" enctype="multipart/form-data">
                    {% csrf_token %}
                    </form>

            </div>
            </div>
{% endblock %}